.showcase {
  background-color: $color-main;
  margin-top: 6.4rem;
  min-height: 100vh;
  width: 100%;
  z-index: 4;
}

.showcase-container {
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title {
    min-height: 15rem;
    width: 100%;
    padding: 2rem 8rem;
    @media only screen and (max-width: 1020px) {
      padding: 2rem;
    }

    .text-list {
      width: 50%;
      font-size: 1.4rem;
      line-height: 1.6;
    }
    &-category {
      .nav__list-preview {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }
    }
  }
  &-filter {
    height: auto;
    width: 100%;
    background-color: #fff;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    position: relative;
    .vl1 {
      background-color: #444444;
    }

    @media only screen and (max-width: 1020px) {
      flex-direction: column;
      padding: 0;
    }
    &-filters {
      //NOTE both filters
      flex: 1;
      width: 100%;
      min-height: 2.5rem;

      display: flex;
      flex-direction: row;
      &-category {
        flex: 1;
        width: 100%;
        max-width: 50rem;
        @media only screen and (max-width: 1020px) {
          max-width: 100%;
        }

        min-height: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        @media only screen and (max-width: 1020px) {
          justify-content: center;
        }
        &-item {
          width: 8rem; // IMPORTANT
          cursor: pointer;
          span {
            transition: all 0.2s;
          }
          span:hover {
            border-bottom: 1px solid #444444;
          }
        }
      }
      &-sort {
        flex: 0 0 20%;
        width: 100%;
        max-width: 10rem;
        min-height: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 1020px) {
          flex: 1;
          max-width: 100%;
        }
        .showcase-container-filter-filters-category-item {
          flex: 1;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &-pagination {
      flex: 1;
      width: 100%;
      min-height: 2.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      &-pages {
        flex: 1;
        width: 100%;
        min-height: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
      &-icons {
        @media only screen and (min-width: 1020px) {
          display: none;
        }
        width: 100%;
        flex: 1;
        min-height: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        .text-list {
          font-size: 1.2rem;
        }
      }
    }
  }
  &-gallery {
    min-height: calc(100vh - 6rem);
    width: 100vw;

    &-grid {
      background-color: white;
      height: 100%;
      width: 100%;
      flex: 1;

      display: grid;
      grid-template-columns: repeat(3, 31%);
      grid-auto-rows: minmax(130rem, auto);
      // grid-template-rows: repeat(3, 60vh);
      @media screen and (max-width: 2310px) {
        grid-auto-rows: minmax(110rem, auto);
      }
      @media screen and (max-width: 1800px) {
        grid-auto-rows: minmax(95rem, auto);
      }
      @media screen and (max-width: 1550px) {
        grid-auto-rows: minmax(80rem, auto);
      }
      @media screen and (max-width: 1250px) {
        grid-auto-rows: minmax(50rem, auto);
      }
      @media screen and (max-width: 1020px) {
        grid-template-columns: repeat(1, 95%);
        // grid-auto-rows: minmax(100%, auto);
      }

      gap: 2rem;
      justify-content: center;
      &-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 100%;
        margin: 0 auto;

        &-img {
          flex: 0 0 85%;
          @media screen and (max-width: 1639px) {
            flex: 0 0 75%;
          }
          overflow: hidden;
          width: 100%;
          position: relative;
          .size-slider {
            background: rgba(255, 255, 255, 0.95);
            visibility: hidden;
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 8rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            transition: 0.5s cubic-bezier(0.65, -0.13, 0.25, 1) all;
            box-sizing: border-box;
            transform: translate(0, 100%);

            .text-size-uk {
              font-family: 'Times LT W01 Roman', 'Times New Roman', Times, serif;
              font-size: 12px;
              line-height: 1.33;
              letter-spacing: 0.6px;
              border-bottom: 1px solid rgba(0, 0, 0, 0);
              color: #636363;
              cursor: pointer;
              transition: all 0.2s;
              &:hover {
                border-bottom: 1px solid #000;
              }
            }
            .active {
              color: #000;
            }
            &-title {
              flex: 0 0 50%;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              .text-bag {
                font-family: inherit;
                font-size: 12px;
                line-height: 1.33;
                letter-spacing: 0.6px;
                border-bottom: 1px solid rgba(0, 0, 0, 0);
                color: #000;
              }
            }
            &-num {
              flex: 0 0 50%;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 3rem;
              @media screen and (max-width: 1500px) {
                gap: 2rem;
              }
              @media screen and (max-width: 1150px) {
                gap: 1rem;
              }
            }
          }
          .round-display {
            position: absolute;
            top: 7.3%;
            left: 3rem;
            width: 91px;
            height: 91px;
            background-color: #707070;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            @media screen and (max-width: 1020px) {
              font-size: 14px;
            }
            color: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.242);
            @media (min-width: 1500px) {
              top: 4.3%;
              width: 91px;
              height: 91px;
            }
            @media (min-width: 1024px) {
              top: 4.3%;
              width: 76px;
              height: 76px;
            }
            @media (min-width: 768px) {
              width: 76px;
              height: 76px;
            }
            @media (min-width: 550px) {
              width: 110px;
              height: 110px;
              border-radius: 50%;
            }
          }
        }
        &-description {
          flex: 0 0 15%;
          @media screen and (max-width: 1639px) {
            flex: 0 0 25%;
          }
          padding-top: 2rem;
          width: 100%;
          height: 100%;
          .btn-hidden {
            @media screen and (min-width: 1020px) {
              display: none;
            }
            border-radius: none;
            padding: 0.2rem 0;
            background-color: rgba(255, 0, 0, 0);
            border: none;
            font-size: 1rem;
            font-weight: 600;
            margin-top: 1rem;
            // border-bottom: 1px solid #44444400;
            transition: all 0.2s;
            &:hover {
              border-bottom: 1px solid #444444;
            }
          }
          .whishlist-icon {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .con-page {
              fill: #444444;
            }
          }
          .text-thinny {
            font-weight: 700;
            font-size: 1rem;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

.icon-page-increase {
  opacity: 0;
  visibility: hidden;
  width: 2rem;
  height: 2rem;
  fill: #444444;
  position: relative;
  display: block;
  background: white;
  opacity: 0.54;
  cursor: pointer;
}

.showcase-container-gallery-grid-item:hover {
  .size-slider {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  .icon-page-increase {
    opacity: 1;
    visibility: visible;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.one-color {
  width: 100;
  min-height: 2rem;
  display: none;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .thinny-square {
    width: 2rem;
    height: 1.5rem;
    background-color: lawngreen;
  }
}

// .colorDisplay:hover,
// .colorDisplay:focus,
// .colorDisplay:active {
//   display: none;

// }

//  .one-color {
//   visibility: visible;
//   opacity: 1;
//     display: flex;
// }

.showcase-container-social {
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  border: 2px solid red;

  &-title {
    width: 100%;
    padding: 6rem 4rem 2rem 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &-grid {
    width: 100vw;
    height: 70rem;
    margin: 0 auto;
    background-color: pink;
  }
  &-btn {
    width: 100%;
    margin: 0 auto;
    min-height: 4rem;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .text-main {
      text-align: center;
      font-size: 2.8rem;
      line-height: 32px;
      letter-spacing: 1px;
      margin: 3rem 0;
    }
    .showcase-container-social-btn-conatiner {
      min-height: 4rem;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      margin-bottom: 4rem;

      .nav__list-preview {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        cursor: pointer;
        transition: all 0.2s ease 0s;
        a {
          font-family: inherit;
          letter-spacing: 1.2px;
          color: #000;
          font-size: 12px;
          border-bottom: 2px solid rgb(0, 0, 0);
          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }
  &-reusable {
    width: 100%;
    min-height: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .copyright {
      min-height: 5rem;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin-bottom: 4rem;
      }
    }
  }
}

.btn-underline {
  border: none;

  padding: 0 0 4px;
  margin: 0 10px;
  background: none;

  line-height: 1;
}

.sliderer {
  max-width: 100vw;
  height: 70rem;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 1020px) {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: red;
  }

  /* IN THE END */
  overflow: hidden;
}

.slidex {
  position: absolute;
  top: 0;
  width: 70rem;
  height: 70rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
  &-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &-img {
      flex: 0 0 70%;
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
    }
    &-title {
      flex: 0 0 30%;
      width: 100%;
      padding: 2rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .nav__btn {
        padding: 0rem;
      }
    }
  }
}

.slider__content-active {
  visibility: visible;
  opacity: 1;
}

.slidex-overlay,
.slidex-container-img-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;

  opacity: 0;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  p {
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    color: #000;
    cursor: pointer;
  }
}

.insta-icon {
  width: 6rem;
  height: 6rem;
}
.insta-icon-small {
  width: 4rem;
  height: 4rem;
}
.text-rub {
  font-size: 13px;
  line-height: 22px;
  color: #000;
  font-weight: 400;
  letter-spacing: 1px;
}

.slidex > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slidex-container-img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slidex:hover .slidex-overlay {
  opacity: 1;
}

.slidex:hover .slidex-container-img-overlay {
  transform: all 0.2s;
  opacity: 1;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.18);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  cursor: pointer;
    @media screen and (max-width: 1020px) {
      opacity: 0;
      visibility: hidden;
    }
}

.slider__btn--left {
  left: 4%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 4%;
  transform: translate(50%, -50%);
}

.icon-title-slider {
  width: 2rem;
  height: 2rem;
}

// Change view img double
.change-to-double-view {
  @media screen and (max-width: 1020px) {
    grid-auto-rows: minmax(70rem, auto);
    grid-template-columns: repeat(2, 46%);
    gap: 3rem;
  }
}

//NOTE Typegraphy ///////////
.text-with-background {
  color: white;
  display: inline;
  padding: 0rem 0rem;
  color: #fff;
  background: #000000;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 1px;
}

.text-descrip {
  font-family: 'Times LT W01 Roman', 'Times New Roman', Times, serif;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #000;
  margin: 1rem 0;
  @media screen and (max-width: 1273px) {
    font-size: 18px;
  }
}
.text-descrip1 {
  font-family: 'Times LT W01 Roman', 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #000;
  margin: 1rem 0;
}
// <picture>
// <source srcset="//images.allsaints.com/products/1200/WO025T/5/WO025T-5-1.jpg" media="(min-width: 2500px)">
// <source srcset="//images.allsaints.com/products/900/WO025T/5/WO025T-5-1.jpg" media="(min-width: 769px)">
// <source srcset="//images.allsaints.com/products/600/WO025T/5/WO025T-5-1.jpg" media="(min-width: 320px)">
// <img src="//images.allsaints.com/products/600/WO025T/5/WO025T-5-1.jpg" alt="Nora Tie Dye Jacket" aria-describedby="price-5057055827248">
// </picture>

.open-slider {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.clothing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// .showcase-container-gallery-grid-item {
//   border: 1px solid #ccc;
// }

.category-page-filter-list {
  position: absolute;
  background-color: $color-main;
  width: 100%;
  min-height: 10rem;
  margin-top: 7rem;
  top: 0rem;
  left: 0;
  right: 0;
  z-index: 5;
  // bottom: 0;
  visibility: hidden;
  opacity: 0;

  // visibility: visible;
  // opacity: 1;

  display: flex;
  flex-direction: column;

  &-selectors {
    flex: 1;
    padding: 0 8rem;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1000;

    .options-box {
      height: 100%;
      min-width: 25rem;
    }
  }
  &-clear {
    flex: 0 0 20%;
    margin: 0 auto;
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &-left,
    &-right {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .text-filter {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: all 0.2s;
        &:hover {
          border-bottom: 1px solid #000;
        }
      }
    }
  }
}

.invisble {
  @media only screen and (max-width: 1020px) {
    display: none;
  }
}

.showcase-container-title-category .nav__item-preview a {
  text-decoration: none;
  position: relative;
  color: #444444;
  font-size: 1.7rem;
  line-height: 1.6;
  text-transform: initial;
  font-family: orpheuspro, serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-style: normal;
  //  margin-bottom: 1rem;
  border-bottom: 0.075rem solid #444444;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    border-bottom: none;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.075rem;
    left: 0;
    bottom: 0;
    background-color: #444444;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.5s ease;
  }
  &:hover::after {
    transform: scale(1, 1);
  }
}

.option {
  display: block;
  margin-bottom: 15px;
}

.option input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.option label {
  position: relative;
  cursor: pointer;
}

.option label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 2rem;
}

.option input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.option label {
  text-transform: initial;
  font-family: orpheuspro, serif;
  color: #000;
  line-height: 1.6;
  font-size: 1.4rem;
  letter-spacing: 4px;
  font-weight: 400;
  font-style: normal;
}

/*
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
      0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
      0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
      0 100px 80px rgba(0, 0, 0, 0.07);
*/

.icon-page {
  width: 2rem;
  height: 2rem;
  fill: #444444;
  // width: 13px;
  // height: 13px;
  position: relative;
  display: block;
  background: rgb(255, 255, 255);
  opacity: 0.54;
  cursor: pointer;
}

.btn--pag {
  background: transparent;
  border: none;
  padding: 0;
  color: #000;
  opacity: 0.56;
  font-weight: 400;
  margin: 0 9px;
  font-size: 10px;
  text-transform: uppercase;
  transition: 0.3s ease opacity;
  line-height: 10px;
  cursor: pointer;
  &:hover {
    color: #000;
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}
.btn-add:focus {
  outline: none;
}
.underline {
  text-decoration: underline;
}

.text-filter {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  height: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #000;
  font-family: 'UntitledSans Medium', sans-serif;
}

.selected-sort {
  display: flex;
  justify-content: flex-end;
  background: #fff;
  padding-right: 20px;
  border-bottom: 0.5px solid rgba(204, 204, 204, 0);
  color: #444444;
  position: relative;
  font-size: 1.2rem;
  transition: all 0.2s;
}

.selected-sort::after {
  position: absolute;
  content: '';
  background: url('/src/img/arrow-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 1rem;
  right: 5px;
  top: 5px;
  transition: all 0.4s;
}

.selected-sort.active::after {
  transform: rotate(180deg);
  top: -5px;
}

.select-box .options-container::-webkit-scrollbar {
  overflow: hidden;
  display: none; //Removing scroll bar
}

//NOTE SCROLL BAR CUSTOM
// .select-box .options-container::-webkit-scrollbar{
//   width: 8px;
//   background: #e10e0e;
//   border-radius: 0 8px 8px 0;
// }
// .select-box .options-container::-webkit-scrollbar-thumb{
//   background: #7ee10e;
//   border-radius: 0 8px 8px 0;
// }

//NOTE SCROLL BAR CUSTOM
// .select-box .option,
// .selected {
//   padding: 1.2rem 2.4rem;
//   cursor: pointer;
// }

// .selected {
//   padding: 1.2rem 0.8rem;
// }
// .select-box .option:hover {
//   background: #f8f8f8;
// }

// .select-box label {
//   padding: 1.2rem 2.4rem;
//   cursor: pointer;
// }

// .select-box .option .radio {
//   display: none;
// }

// .option {
//   // padding: 1.2rem 0rem;
//   height: 3.5rem;
//   margin-left: -4rem;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }

.showcase-container-filter .vl1 {
  background-color: #444444;
}
.vl2 {
  border-right: 1px solid #979797;
  opacity: 0.56;
  margin: 0 10px 0 0px;

  @media only screen and (max-width: 1020px) {
    border-right: 1px solid #000;
    opacity: 1;
    margin: 0rem;
  }
}

.sticky {
  position: fixed;
  top: 6.4rem;
  left: 0;
  right: 0;
  z-index: 20;
  border-bottom: 1px solid #444444;
}


//  style="background-image: url('/src/img/pic-58.jpg');"